[submodule "source/_posts/pe"]
	path = source/_posts/pe
	url = git@github.com:YeXiaoRain/Blog-pe.git
[submodule "theme/next"]
	path = themes/next
	url = git@github.com:CroMarmot/hexo-theme-next.git
	branch = cmmblog
