.yearmonth-list-count{
  margin-left: 3em;
}
ul.yearmonth-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
li.yearmonth-li {
  list-style: none;
  margin: 0.5em
}
a.yearmonth-list-link {
  display: inline-flex;
  width: 12em;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
  box-sizing: border-box;
  margin: 0.2em;
}
