<ul class="yearmonth-ul">
  <li class="yearmonth-li">
    {{
      list_archives({
        show_count: true,
        class: 'yearmonth-list',
        style: 'none',
        separator: '</li><li class="yearmonth-li">'
      })
    }}
  </li>
</ul>
